@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(180deg, #eeeeee 0%, #dadada 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}